body{
	margin:0px; padding:0px;	
	font-family:Helvetica, Airal, Verdana;
}
ul, ol, li{ margin:0px; padding:0px; list-style:none;}
@font-face
{
	font-family: 'NewJuneBook';
	src: url('../fonts/NewJune-Book.eot');
    src: url('../fonts/NewJune-Book.woff') format('woff'),url('../fonts/NewJune-Book.otf') format('otf'), url('../fonts/NewJune-Book.ttf') format('truetype'), url('../fonts/NewJune-Book.svg') format('svg');
}
@font-face
{
	font-family: 'NewJuneMedium';
	src: url('../fonts/NewJune-Medium.ttf'),
     url('../fonts/NewJune-Medium.eot'); /* IE9 */
}
@font-face
{
	font-family: 'NewJuneBold';
	src: url('../fonts/NewJune-Bold.eot');
	src: url('../fonts/NewJune-Bold.woff') format('woff'),url('../fonts/NewJune-Bold.otf') format('otf'), url('../fonts/NewJune-Bold.ttf') format('truetype'), url('../fonts/NewJune-Bold.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}


.borderT {border-top:1px solid #313233;}
.borderR {border-right:1px solid #313233;}

.tui-page{ float:left; width:100%; clear:both; min-height:60px; overflow:hidden;}
/***
.tui-page .tui-logo{ float:right; width:70%; }
***/
.tui-page .tui-logo{ width:200px; float:right; margin-right:20px; }
.tui-page .tui-logo img{ max-width:100%; border:0px;}

.tui-content{ float:left; width:100%; clear:both; min-height:300px;}
.tui-home-menu{ float:left; clear:both; width:100%; clear:both;}


.tui-home-menu ul.media li{ 
	display:block; width:100%; clear:both; margin:0 0 0px 0; background-image:url(../images/mobile-menu-bg.png); 
	background-size:222px 351px;
	background-repeat:no-repeat;  
	
}
.tui-home-menu ul li{
	position:relative;
}
.tui-home-menu ul li{ 
	display:block; width:100%; clear:both; margin:0 0 0px 0; 
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e8e8e8 /*{a-bar-background-start}*/), to( #eff0f0 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e8e8e8 /*{a-bar-background-start}*/, #eff0f0 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e8e8e8 /*{a-bar-background-start}*/, #eff0f0 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e8e8e8 /*{a-bar-background-start}*/, #eff0f0 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e8e8e8 /*{a-bar-background-start}*/, #eff0f0 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e8e8e8 /*{a-bar-background-start}*/, #eff0f0 /*{a-bar-background-end}*/);
	
}

.tui-home-menu .tui-home-menu2 li a{ 
	display:block; clear:both; margin:0; 
	background-image: -webkit-gradient(linear, left top, left bottom, from( #0e0e0e /*{a-bar-background-start}*/), to( #121212 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #0e0e0e /*{a-bar-background-start}*/, #121212 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #0e0e0e /*{a-bar-background-start}*/, #121212 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #0e0e0e /*{a-bar-background-start}*/, #121212 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #0e0e0e /*{a-bar-background-start}*/, #121212 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #0e0e0e /*{a-bar-background-start}*/, #121212 /*{a-bar-background-end}*/);	
	
}
.tui-home-menu .tui-home-menu2 li a:hover{ 
	display:block; clear:both; margin:0; 
	background-image: -webkit-gradient(linear, left top, left bottom, from( #191919 /*{a-bar-background-start}*/), to( #191919 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #191919 /*{a-bar-background-start}*/, #191919 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #191919 /*{a-bar-background-start}*/, #191919 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #191919 /*{a-bar-background-start}*/, #191919 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #191919 /*{a-bar-background-start}*/, #191919 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #191919 /*{a-bar-background-start}*/, #191919 /*{a-bar-background-end}*/);
}
.tui-home-menu .tui-home-menu2 li a:link, .tui-home-menu .tui-home-menu2 li a:visited {color:#0aa9ee;}

.tui-home-menu ul.media li a:link, .tui-home-menu ul.media li a:visited{ color:#fff; line-height:50px; }
.tui-home-menu .tui-home-menu2 li a:link, .tui-home-menu .tui-home-menu2 li a:visited{ line-height:45px;}
.tui-home-menu ul li a:link, .tui-home-menu ul li a:visited{ display:block; padding:0 0 0 20px; line-height:38px; text-decoration:none; color:#a3a3a3; font-family:'NewJuneBold', Helvetica, Arial; font-size:18px; text-transform:uppercase; }
@media all and (max-device-width:320px) and (orientation: portrait) {
.tui-home-menu ul li a:link, .tui-home-menu ul li a:visited{ display:block; padding:0 0 0 20px; line-height:45px; text-decoration:none; color:#a3a3a3; font-family:'NewJuneBold', Helvetica, Arial; font-size:18px; text-transform:uppercase; }
	.ui-page { overflow:hidden;}
}
@media screen and (orientation: landscape) {
	.tui-home-menu ul li a:link, .tui-home-menu ul li a:visited{ display:block; padding:0 0 0 20px; line-height:45px; text-decoration:none; color:#a3a3a3; font-family:'NewJuneBold', Helvetica, Arial; font-size:18px; text-transform:uppercase; height:50px; overflow:hidden; }
	.ui-page { overflow:hidden;}
}
@media all and (device-aspect-ratio: 40/71) {
	.tui-home-menu ul li a:link, .tui-home-menu ul li a:visited{ display:block; padding:0 0 0 20px; line-height:38px; text-decoration:none; color:#a3a3a3; font-family:'NewJuneBold', Helvetica, Arial; font-size:18px; text-transform:uppercase; height:50px; }
}

.tui-home-menu ul li a span{ font-family:'NewJuneBook', Helvetica, Arial; font-weight:normal; text-transform:capitalize; }
.tui-home-menu ul li.active a{ color:#0aabf1;}

.tui-icon{ 	
	background-image:url(../images/mobile-sprite.png); 
	background-repeat:no-repeat; 
	float:left;
	min-width:24px; min-height:40px; 
}
.tp-login .tui-icon{ min-height:27px; }

.tui-home-menu ul li .tui-icon{ 
	/* top:5px; */ 

	-moz-background-size: 1050px 52px;
		-o-background-size: 1050px 52px;
		-webkit-background-size: 1050px 52px;
			background-size:1050px 52px; 
	min-width:50px; min-height:50px;
	position:absolute;
	right:10px;
}
.tui-sn .tui-icon{
	background-size:1300px 64px; 
	min-width:40px; min-height:40px;
}
.tui-home-menu ul:last-child li .tui-icon{
	right:15px;
	top:5px;
}
.i-where{ background-position:-351px 50%;}
.i-network{ background-position:-398px 50%; }
.i-products{ background-position:-442px 50%; }
/*.i-press { background-position:-485px 50%;} */
.i-events { background-position:-485px 50%;}
.i-news { background-position:-528px 50%;}
.i-media { background-position:-685px 50%;}
.i-login  { background-size:2220px 109px; background-position:-1534px 50%;}
.i-rss  { background-position:-750px 50%; margin-left:2px;}
.i-in  { background-position:-786px 50%; margin-left:2px;}
.i-youtube  { background-position:-828px 50%; min-height: 57px; min-width: 50px; margin-left:2px;}
.i-fb  { background-position:-869px 50%; min-height: 57px; min-width: 50px; margin-left:2px;}
.i-tweet  { background-position:-905px 50%; min-height: 57px; min-width: 50px; margin-left:2px;}
.tui-home-menu2 .tui-icon{
	min-width:36px !important; min-height:36px !important;	
}

.tui-sn a:hover .i-rss, .i-rss-active  { background-position:-913px 50%;}
.tui-sn a:hover .i-in, .i-in-active  { background-position:-954px 50%;}
.tui-sn a:hover .i-youtube, .i-youtube-active  { background-position:-992px 50%;}
.tui-sn a:hover .i-fb, .i-fb-active  { background-position:-1036px 50%;}
.tui-sn a:hover .i-tweet, .i-tweet-active  { background-position:-1070px 50%;}
.tui-sn .tui-icon {width:45px; height:57px; float:none; display:block; margin:auto;}

/*relief*/

.tui-home-menu ul li.relief{ 
	background-color:#F9C92B; 
	background-position:right top; 
/* 	box-shadow: 0px 1px 2px #d55c21; */
}
.icon-rel{ background-position:-5px 50%;}

/* energy */
.tui-home-menu ul li.energy{ 
	background-color:#f9702d; 
	background-position:right -51px; 
	/*box-shadow: 0px 1px 2px #c01f33; */
}
.icon-ene{ background-position:-62px 50%;}

/* media */
.tui-home-menu ul li.media{ 
	background-color:#db263d; 
	background-position:right -101px; 
	/*box-shadow: 0px 1px 2px #3c6e8f;  */
}
.icon-med{ background-position:-119px 50%;}

/* aviation */
.tui-home-menu ul li.aviation{ 
	background-color:#7dc7f8; 
	background-position:right -152px; 
	height:49px;
	/*box-shadow: 0px 1px 2px #1f7c85; */
}
.icon-avi{ background-position:-177px 50%;}
/* marine */
.tui-home-menu ul li.marine{ 
	background-color:#28419f; 
	background-position:right -202px; 
	/*box-shadow: 0px 1px 2px #266725; */
}
.icon-mar{ background-position:-234px 50%;}

/* defense */
.tui-home-menu ul li.defense{ 
	background-color:#4db24b; 
	background-position:right -252px; 
	/*box-shadow: 0px 1px 2px #999; */
}
.icon-def{ background-position:-292px 50%;}
/* enterprise */
.tui-home-menu ul li.enterprise{ 
	background-color:#785cc0; 
	background-position:right -302px; 
	/*box-shadow: 0px 1px 2px #999; */
}

.icon-enterprise{ background-position:-950px 50%;}


/* tui-footer  */
.tui-footer{ float:left; width:100%; clear:both; min-height:200px;

	background-image: -webkit-gradient(linear, left top, left bottom, from( #000000 /*{a-bar-background-start}*/), to( #303030 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #000000 /*{a-bar-background-start}*/, #303030 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #000000 /*{a-bar-background-start}*/, #303030 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #000000 /*{a-bar-background-start}*/, #303030 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #000000 /*{a-bar-background-start}*/, #303030 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #000000 /*{a-bar-background-start}*/, #303030 /*{a-bar-background-end}*/);

}
.t-a-inline-block{display:inline-block;}
.t-ui-search{ float:left; width:100%; clear:both; background:#434343;}
.t-ui-search label{ display:none;}
.t-ui-search .form-item{ float:left; width:85%; }
.t-ui-search .form-wrapper{width:15%; float:right; }
.t-ui-search .form-wrapper input[type="text"]{ width:75%; }
.t-ui-search .form-wrapper input.form-submit{ 
	background:#424242 url(../images/mobile-sprite.png) no-repeat -564px 50%  !important; 
	background-size:1050px 52px  !important;
	min-height:47px; width:45px;  border:0px;}
.t-ui-search input[type='text']{ 
	background:none; border:0px; display:block; width:auto; min-height:51px; float:left; padding-left: 18px; color: #999999;
	width:75%; font-size:16px;
}
.tui-home-menu2 li{
	height:45px; overflow:hidden;	
}
.tui-home-menu2  li a{
	line-height:45px !important; display:block; 
}
.tp-login{ float:left; clear:both; width:100%;  text-align:center; }
.tp-login a:link, .tp-login a:visited{ text-decoration:none; color:#5b5b5b; font-size:14px; display:block; line-height:36px; display:inline-block; margin:auto; padding:0 8px;}
.tui-sn{ background:url(../images/m-sn-bg.png) repeat-x 0 0; min-height:57px; float:left; width:100%; text-align: center; }
.tui-t-nav{ float:left; min-height:120px; float:left; width:100%; clear:both; background-color: #000;}
.tui-t-nav ul {margin:0; padding:0; width: 100%; float: left; list-style: none;}
.tui-t-nav ul li{margin:0; padding: 25px 0 20px 0; width: 49%; float: left; color: #5B5B5B; font-size: 14px; text-align: center; min-height: 25px; min-height:40px; overflow:hidden;}
.tui-t-nav ul li a {text-decoration: none; color: #5B5B5B; line-height:40px;}
.tui-copy-right { float:left; width:100%; clear:both;}
.tui-copy-right  a {text-decoration: none; color: #5B5B5B; margin: 0px 0px 0px 10px;}
.tui-copy-right li{
	min-height:40px;	
	line-height:40px; text-align:center; font-size:9px; color:#a4a4a4;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6a6a6a /*{a-bar-background-start}*/), to( #575757 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6a6a6a /*{a-bar-background-start}*/, #575757 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6a6a6a /*{a-bar-background-start}*/, #575757 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6a6a6a /*{a-bar-background-start}*/, #575757 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6a6a6a /*{a-bar-background-start}*/, #575757 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6a6a6a /*{a-bar-background-start}*/, #575757 /*{a-bar-background-end}*/);
}
.tui-copy-right li:first-child{
	min-height:40px; border-top:1px solid #313233; font-size:14px;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #222222 /*{a-bar-background-start}*/), to( #0c0c0c )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #222222 /*{a-bar-background-start}*/, #0c0c0c /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #222222 /*{a-bar-background-start}*/, #0c0c0c /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #222222 /*{a-bar-background-start}*/, #0c0c0c /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #222222 /*{a-bar-background-start}*/, #0c0c0c /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #222222 /*{a-bar-background-start}*/, #0c0c0c /*{a-bar-background-end}*/);
}

/* new class*/
.tui-sub {position:absolute; display:none; margin-top:-1px;}
.tui-sub ul li a:hover, .tui-main-menu ul li a:hover{ 
	display:block; clear:both; margin:0 0 0px 0; border-bottom:1px solid #eff0ef; 
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f3f3f3 /*{a-bar-background-start}*/), to( #eff0f0 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{a-bar-background-start}*/, #f3f3f3 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{a-bar-background-start}*/, #f3f3f3 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{a-bar-background-start}*/, #f3f3f3 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{a-bar-background-start}*/, #f3f3f3 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{a-bar-background-start}*/, #f3f3f3 /*{a-bar-background-end}*/);
}
.tui-sub ul li a, .tui-main-menu ul li a{ 
	display:block; clear:both; margin:0 0 0px 0; border-bottom:1px solid #eff0ef; 
	background-image: -webkit-gradient(linear, left top, left bottom, from( #eeeeee /*{a-bar-background-start}*/), to( #e5e5e5 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #eeeeee /*{a-bar-background-start}*/, #e5e5e5 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #eeeeee /*{a-bar-background-start}*/, #e5e5e5 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #eeeeee /*{a-bar-background-start}*/, #e5e5e5 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #eeeeee /*{a-bar-background-start}*/, #e5e5e5 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #eeeeee /*{a-bar-background-start}*/, #e5e5e5 /*{a-bar-background-end}*/);
}

.tui-header{ position:relative; width:100%; height:50px; background:#fff; }
.tui-menu-btn{ width:40px; position:absolute; height:100%; }
.tui-menu-btn a{ display:block; height:100%; background:#f6f7f7 url("../images/menu-btn.png") center no-repeat; box-shadow:-1px 0 11px #F6F7F7;}

.t-menu-active img {background:#eceded; box-shadow:-1px 0 11px #eceded;}
.tui-sn a {float:left; width:20%; background:url(../images/icon-border.png) no-repeat bottom left;}
.tui-sn a:hover {float:left; width:20%; background:url(../images/icon-border.png) #000 no-repeat bottom left; }
.tui-sn a:first-child { background:none; display:inline-block; }
.tui-sn a:first-child:hover { background:none; background-color:#000; display:inline-block; }

/*sub menu related class */

.sub-menu{ float:right; margin-right:15px; color:#000;}
.menu-tit { border-right: 1px solid #A3A3A3; float: left; padding:0 20px 0 0; margin-top:5px; height:34px; line-height:20px;}
.tui-sub .menu-tit-txt , .tui-sub .menu-tit-txt a:link, .tui-sub .menu-tit-txt a:visited{ font-family:'NewJuneBook', Helvetica, Arial; display:block; text-align:center; text-transform:uppercase; font-weight:bold;  }

.tui-sub  ul li:first-child span{ color:#0aabf1; }


#th-about-sub {display:none; position:absolute;}

#th-sectors-sub {display:none; position:absolute;}

#th-products-sub {display:none; position:absolute;}

#th-services-sub {display:none; position:absolute;}

#th-buy-sub {display:none; position:absolute;}

#th-press-centre-sub {display:none; position:absolute;}
#main_menu .tui-sub{ display:none;}
.item-list ul.paging{ margin:auto !important; display:inline-block !important; width:auto !important; float:none !important; clear:none !important; }
#main_items  li{ overflow:hidden;
border-left:10px solid #000000;
}
#main_items li a { display:block; line-height:49px; height:45px; overflow:hidden; height:auto;}
#main_items li:first-child a{line-height:50px;} 
.tui-sub ul li a {  display:block; line-height:54px !important; height:45px; overflow:hidden; height:auto; }
#main_items{margin-left:0px; }
.tui-logo a{overflow:hidden;}
#main_items li.menu_0{
	border-left:10px solid #F9C92B;
}
#main_items li.menu_1{
	border-left:10px solid #F9702D;
}
#main_items li.menu_2{
	border-left:10px solid #DB263D;
}
#main_items li.menu_3{
	border-left:10px solid #7DC7F8;
}
#main_items li.menu_4{
	border-left:10px solid #28419F;
}
#main_items li.menu_5{
	border-left:10px solid #785CC0;
}
#main_items li.menu_6{
	border-left:10px solid #4DB24B;
}