.search-form {
 /* margin-bottom: 1em;*/
}
.search-form input {
  margin-top: 0;
  margin-bottom: 0;
  border:0px; 
  background:none;
  max-width:100%;

}
.search-form input.form-submit{
	background:url(../images/search-icon.png) no-repeat 0 0 !important;
	
}
#edit-basic{ float:left; width:100%; clear:both; padding:10px 0 10px 0;}
.search-results {
  list-style: none;
}

#edit-basic .form-item{ margin:0px; float:left; width:100px; height:30px; }
#edit-basic .search-form input[type='text']{
	float:left;
	min-height:30px;

}
.main-container h1 span{ font-weight:normal;}
.search-results p {
  margin-top: 0;
}
.search-results .title {
  font-size: 1.2em;
}
.search-results li {
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 1em; /* LTR */
  float:left;
  width:80%;
}
.search-results .search-info {
  font-size: 0.85em;
}
.search-advanced .criterion {
  float: left; /* LTR */
  margin-right: 2em; /* LTR */
}
.search-advanced .action {
  float: left; /* LTR */
  clear: left; /* LTR */
}
.search-results li.search-result{ float:left; clear:both; border:1px solid #ccc; padding:5px 0 5px 10px; width:98%;}
.search-results li.search-result h3{margin:0px 0; padding:0; line-height:10px; float:left;}
.search-results li.search-result h3 a{line-height:18px; display:block; margin:5px 0; float:left; text-decoration:none; font-size:12px; color:#000; width:100%;}
.search-snippet-info p{line-height:18px; clear:both;  margin:0; padding:0; margin-left:-10px; color:#3e3e3e;}
.search-snippet-info p strong{ font-weight:normal; color:#0aa9ee;}
.searchmore{ float:right; margin:20px 0;}
.searchmore span.arrow{background-position: -325px -44px;  width:39px; height:39px; display:inline-block; margin-left:10px;}
.searchmore span{color:#0AA9EE;font-weight:bold; float:left; line-height:40px;}
.searchmore a{text-decoration:none; padding:0 10px 0 0;}
.search-results li.search-result .search-snippet-info .searchmore{display:block; float:right; padding:0 0 10px 0;}
.search-results li.search-result .search-snippet-info .searchmore a{display:block; float:right; vertical-align:middle; margin-right:20px;}
.search-results li.search-result .search-snippet-info .searchmore a span.arrow{margin-top:-15px; float:right;}
.search-bold{text-decoration:none; margin-bottom:10px; float:left;}
.main-container b em{font-style:normal; float:left; padding-bottom:10px;}
.item-list{clear:both; margin:auto 0; padding:0; text-align:center; width:100%;}
.item-list ul.paging{margin-left:20%; text-align:center; width:auto;}